body {
    background-color: rgb(32, 32, 32);
    color:white;
    font-family:'Times New Roman', Times, serif;
}
img {
    width: 250px;
    height: 250px;
    border-radius: 20%;
}
p {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}