body {
    background-color: rgb(32, 32, 32);
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
img {
    width: 250px;
    height: 250px;
    border-radius: 20%;
}
p {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}