    <!DOCTYPE html>
    <title> Style Thing.html </title>
    <style type="text/css"> 
            .topnav {overflow: hidden;background-color: black;}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;} 
.topnav a.hover {background-color: #ddd; color: black;}
.topnav a.active {background-color: #E89141; color: black;}
            

            body {
                font-family: "Times New Roman" serif;
                color: white;
                background-color: black  }
            h1 { 
                font-family: "Times New Roman,
                    serif;
                color: white;
                background-color: black  
            }
            address {
  color: white;
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
            p  {
                color: #BDE4F2;
                text-align: left;
                padding-bottom: 0em;
                padding-top: -4em; 
            }
            img { 
               border: 2.5px solid #BDE4F2;
                text-align: left 20em
            }
            @keyframes wheelHueColor {
    from, to { color: Red; }
    10%      { color: Orange; }
    20%      { color: Yellow; }
    30%      { color: Green; }
    40%      { color: Blue; }
    50%      { color: Purple; }
    60%      { color: Pink; }
    70%      { color: Cyan; }
    80%      { color: Magenta; }
    90%      { color: Teal; }
   100%     { color: Black; }       
}

.example {
    color: rgb(236,100,75);
    animation: wheelHueColor 5s infinite;
    
}

        </style>